@model ProjectZero.Libraries.Classes.Review

@{
    ViewBag.Title = "Edit Review";
    ViewBag.Action = "Review Restaurant";
}

<div>
    @ViewBag.Action
</div>
<div>
    @using (Html.BeginForm())
    {
        <pre>
        @Html.LabelFor(Model => Model.Author)
        @Html.EditorFor(Model => Model.Author, new { htmlattributes = new { placeholder = "Enter Name", required = "required" } })@Html.ValidationMessageFor(Model => Model.Author)

        @Html.LabelFor(Model => Model.Rating)
        @Html.EditorFor(Model => Model.Rating, new { htmlattributes = new { placeholder = "Rate Restaurant", required = "required", min = 1, max = 5 } })@Html.ValidationMessageFor(Model => Model.Rating)

        <input type="submit" value="Update Review" onclick="location.href='@Url.Action("Edit", new { Model, Model.RestaurantID })'" />

</pre>
    }
</div>
