@model ProjectZero.Libraries.Classes.Restaurant

@{ 
    if (ViewBag.Action.Contains("Edit"))
    {
        ViewBag.ActionMethod = "Edit";
    }
    else
    {
        ViewBag.ActionMethod = "Create";
    }

    List<string> states = new List<string>()
            {
                "Select State","Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","Delaware",
                "Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Indiana","Kansas","Kentucky","Louisiana",
                "Massachusetts","Maryland","Maine","Michigan","Minnesota","Missouri","Mississippi","Montana",
                "North Carolina","North Dakota","Nebraska","New Hampshire","New Jersey","New Mexico","Nevada",
                "New York","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota",
                "Tennessee","Texas","Utah","Virginia","Vermont","Washington","Wisconsin","West Virginia","Wyoming"
            };
}

<div>
    @ViewBag.Action
</div>
<div>
    @using (Html.BeginForm())
    {
    <pre>
        @Html.LabelFor(Model => Model.Name)
        @Html.EditorFor(Model => Model.Name, new { htmlattributes = new { placeholder = "Enter Name", required = "required", title = "Please enter the restaurant's name." } })@Html.ValidationMessageFor(Model => Model.Name)

        @Html.LabelFor(Model => Model.Address)
        @Html.EditorFor(Model => Model.Address, new { htmlattributes = new { placeholder = "Enter Address", pattern = "[1-9][0-9]+[ ][A-Za-z.' ]+", title = "Please enter a valid street address.", required = "required" } })@Html.ValidationMessageFor(Model => Model.Address)

        @Html.LabelFor(Model => Model.City)
        @Html.EditorFor(Model => Model.City, new { htmlattributes = new { placeholder = "Enter City", pattern = "[A-Za-z]+", required = "required" } })@Html.ValidationMessageFor(Model => Model.City)

        @Html.LabelFor(Model => Model.State)
        @Html.DropDownListFor(Model => Model.State, new SelectList(states), new { htmlattributes = new { required = "required" } })@Html.ValidationMessageFor(Model => Model.State)

        @Html.LabelFor(Model => Model.Zipcode)
        @Html.EditorFor(Model => Model.Zipcode, new { htmlattributes = new { type = "number", min = "0", maxlength = "5", placeholder = "Enter Zipcode", pattern = "[1-9][0-9]+{5}", required = "required" } })@Html.ValidationMessageFor(Model => Model.Zipcode)

        @if (@ViewBag.ActionMethod == "Edit")
        {
    <input type="submit" value="@ViewBag.ActionMethod" onclick="location.href='@Url.Action(ViewBag.ActionMethod, new { rest = Model, restID = Model.RestaurantID})'" />

        }
        else
        {
    <input type="submit" value="@ViewBag.ActionMethod" onclick="location.href='@Url.Action(ViewBag.ActionMethod, Model)'" />

        }
</pre>
    }
</div>

